@model VmProductsListView
@{
    ViewData["Title"] = "مدیریت محصولات امین پخش نوین";
    Layout = "~/Views/Shared/_adminPanelLayout.cshtml";
}

<div id="formProductAction">

</div>


<div class="col-lg-12 col-md-12">
    <div class="row p-3">
        <div class="col-6"> <h4>لیست محصولات</h4></div>
        <div class="col-6"> <button class="btn btn-primary btn-tool" style="float:left" onclick="AddProductCall()">افـزودن محصول جـدید</button></div>
    </div>
    <div class="product_list_section">

        <div class="product_items_section product_list_view">
            <ul>
                @{
                    foreach (var item in Model.productAndServices)
                    {
                        int imageID = 0;
                        <li>

                            <div class="product_item_block">
                                <div class="org_product_block">
                                    @if (item.discount > 0)
                                    {<span class="product_label">@item.discount% تخفیف</span>}

                                    @{string ImageAddress = "";
                                        if (item.images.Count > 0)
                                        {
                                            var imagedb = item.images.Where(n => n.IsMainImage == true).FirstOrDefault();
                                            ImageAddress = imagedb != null ? imagedb.Image : "";
                                            imageID = imagedb.Id;
                                        }

                                        <div class="org_product_image">
                                            @if (ImageAddress != "")
                                            {<img src="~/img/products/@ImageAddress" alt="image">}
                                            else
                                            {<span>تصویری برای  این محصول ثبت نشده است</span>}
                                        </div>
                                    }

                                    <h4>@item.ShortTitle</h4>
                                    <h3>@item.FinalPrice</h3>
                                    @if (ImageAddress == "")
                                    {

                                        <a asp-action="AddProductImage" asp-controller="ContentManager" asp-area="CMS" asp-route-ProductID="@item.ProductID">افزودن تصویر</a>
                                    }

                                </div>
                                <div class="content_block mb-4">
                                    <div class="product_price_box">
                                        <h3>@item.ShortTitle</h3>
                                        <h5>@item.FinalPrice</h5>
                                    </div>
                                    <p>@item.CategoryName</p>

                                    <ul class="product_code">
                                        <li>
                                            <p>کد محصول: @item.ProductID</p>
                                        </li>
                                        <li>
                                            <p>وضعیت: <span>@((item.IsAvalable == true) ? "موجود" : "ناموجود")</span></p>
                                        </li>
                                    </ul>
                                    <p>@item.LongTitle</p>
                                    <p>@item.Description</p>
                                </div>
                                <ul class="product-card-action pt-3">
                                    <li><a asp-action="UpdateProductInfo" asp-controller="ContentManager" asp-area="CMS" asp-route-ProductID="@item.ProductID">ویرایش</a></li>
                                    <li><a asp-action="ChangeAvalable" asp-controller="ContentManager" asp-area="CMS" asp-route-Id="@item.ProductID">@(item.IsAvalable == true ? "ناموجود" : "موجود")</a></li>
                                    @if (imageID > 0)
                                    {
                                        <li><a asp-action="UpdateProductImage" asp-controller="ContentManager" asp-area="CMS" asp-route-ImageID="@imageID">ویرایش تصویر</a></li>
                                    }
                                    <li><a asp-action="AlowShowPrice" asp-controller="ContentManager" asp-area="CMS" asp-route-ProductID="@item.ProductID" class="text-success">@(item.AlowShowPrice==true ?"قیمت پنهان شود":"قیمت نمایش داده شود")</a></li>
                                    <li><a asp-action="DeleteProduct" asp-controller="ContentManager" asp-area="CMS" asp-route-ProductID="@item.ProductID" class="text-danger">حذف</a></li>

                                </ul>
                            </div>

                        </li>
                    }

                }


            </ul>
        </div>

        <div class="blog_pagination_section">
            @{
                int courentPage = Model.CurrentPage;
                int NextPage = courentPage + 1;
                int PerPage = courentPage - 1;

                <ul>

                    @if (courentPage > 1)
                    {
                        <li class="blog_page_arrow">
                            <a asp-action="ProductsManager" asp-controller="ContentManager" asp-area="CMS" asp-route-pageId="@PerPage">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="19px" height="25px">
                                    <path fill-rule="evenodd" fill="rgb(112, 112, 112)" d="M13.676,13.222 L6.883,19.685 C6.451,20.097 5.751,20.097 5.319,19.685 C4.887,19.273 4.887,18.608 5.319,18.197 L11.329,12.478 L5.319,6.760 C4.887,6.348 4.887,5.682 5.319,5.270 C5.751,4.861 6.451,4.861 6.884,5.270 L13.676,11.735 C13.892,11.940 14.000,12.209 14.000,12.478 C14.000,12.747 13.892,13.017 13.676,13.222 Z">
                                    </path>
                                </svg>
                                <span>قبل</span>
                            </a>
                        </li>
                    }
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li><a asp-action="ProductsManager" asp-controller="ContentManager" asp-area="CMS" asp-route-pageId="@i">@i</a></li>
                    }
                    @if (NextPage <= Model.PageCount)
                    {
                        <li class="blog_page_arrow">
                            <a asp-action="ProductsManager" asp-controller="ContentManager" asp-area="CMS" asp-route-pageId="@NextPage">
                                <span>بعد</span>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="15px">
                                    <path fill-rule="evenodd" fill="rgb(112, 112, 112)" d="M0.324,8.222 L7.117,14.685 C7.549,15.097 8.249,15.097 8.681,14.685 C9.113,14.273 9.113,13.608 8.681,13.197 L2.670,7.478 L8.681,1.760 C9.113,1.348 9.113,0.682 8.681,0.270 C8.249,-0.139 7.548,-0.139 7.116,0.270 L0.323,6.735 C0.107,6.940 -0.000,7.209 -0.000,7.478 C-0.000,7.747 0.108,8.017 0.324,8.222 Z">
                                    </path>
                                </svg>
                            </a>
                        </li>
                    }

                </ul>
            }

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#addimg').click(function () {
            alert();

        });

    })

    function AddProductCall() {
        var acction = "/Admin/ContentManager/AddProduct";

        $.get(acction).done(function (data) {

            $("#formProductAction").html(data);
            $("#formProductAction").slideDown(350);
        });
    }




</script>

