@using keyhanPostWeb.GeneralViewModels.RepDto
@model VmRepresentativeRequest

<<div class="max-w-5xl mx-auto bg-white p-10 rounded-xl shadow-md">
    <h2 class="text-3xl font-bold text-gray-800 mb-8 text-center">
        مرحله 3 - تایید نهایی
    </h2>

    <div class="space-y-4">

        <div class="flex items-center justify-between border-b pb-2 text-gray-700">
            <span>شماره درخواست</span>
            <span class="font-semibold">@Model.Details.TrackingNumber</span>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">

            <div class="border p-4 rounded-lg">
                <p><strong>نام: </strong>@Model.Details.ApplicantName</p>
                <p><strong>نوع: </strong>@Model.Details.EntityType</p>
                <p><strong>ایمیل: </strong>@Model.Details.Email</p>
                <p><strong>شماره همراه: </strong>@Model.Details.MobileNumber</p>
            </div>

            <div class="border p-4 rounded-lg">
                <p><strong>شهر فعالیت: </strong>@Model.Details.CityName</p>
                <p><strong>نوع نمایندگی: </strong>@Model.Details.AgencyType</p>
                <p><strong>وضعیت وسیله نقلیه: </strong>@Model.Details.VehicleAvailability</p>
                <p><strong>وضعیت ملک: </strong>@Model.Details.PropertyType</p>
            </div>
        </div>

        <div>
            <label class="block text-gray-700 font-medium mb-2">سایر توضیحات</label>
            <textarea disabled rows="3"
                      class="w-full p-3 border border-gray-300 rounded-lg">@Model.Details.OtherDesc</textarea>
        </div>

        <form asp-action="CreateJobRequest_step3" method="post" class="pt-6 text-center">
            <input type="hidden" asp-for="Details.Id" />
            <button type="submit"
                    class="btn btn-primary accAjaxSubmit">
                ثبت نهایی درخواست
            </button>
        </form>
    </div>
</div>
<script src="~/js/branch.js"></script>

<script src="~/js/quine.js"></script>

