@using keyhanPostWeb.Areas.CMS.Dtos
@model VmSiteContent
@{
    ViewData["Title"] = "لیست سفارش های بین المللی";
    var cities = ViewBag.Cities as SelectList;
    Layout = "_adminPanelLayout";
}
<link rel="stylesheet" href="~/css/list.css" />

<div class="orders-container fade-in">
    <div class="orders-title">لیست سفارش های بین المللی</div>

    <table class="custom-table">
        <thead>
            <tr>

                <th>ردیف</th>
                <th>کد رهگیری</th>
                <th>فرستنده</th>
                <th>گیرنده</th>
                <th>تلفن فرستنده</th>
                <th>تلفن گیرنده</th>
                <th>مبدأ</th>
                <th>مقصد</th>
                <th>نوع بسته</th>
                <th>تاریخ </th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowNumber = 1;
            }
            @foreach (var order in Model.GetOrderVm)
            {
                <tr>
                    <td class="row-number">@rowNumber</td>
                    <td>@order.TrackingCode</td>
                    <td>@order.SenderName</td>
                    <td>@order.ReceiverName</td>
                    <td>@order.SenderPhone</td>
                    <td>@order.ReceiverPhone</td>
                    <td>@order.OriginCountryName</td>
                    <td>@order.DestinationCountryName</td>
                    <td>@order.PackageTypeName</td>
                    <td>@order.CreatedAt</td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</div>
