@using keyhanPostWeb.Areas.CMS.Dtos
@using Microsoft.AspNetCore.Http
@using keyhanPostWeb.GeneralService
@using keyhanPostWeb.GeneralViewModels.Order


@model List<GetOrdersVM>
@{
    ViewData["Title"] = "لیست سفارش های داخلی";
    var cities = ViewBag.Cities as SelectList;
    Layout = "_adminPanelLayout";
}
<link rel="stylesheet" href="~/css/list.css" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<div class="orders-container fade-in">
    <div class="orders-title">لیست سفارش های داخلی</div>
<form method="get" class="filter-form fade-in">
    <div class="filter-row">

        <div class="filter-item">
            <label>نام فرستنده</label>
            <input type="text" name="SenderName" value="@Context.Request.Query["SenderName"]" />
        </div>

        <div class="filter-item">
            <label>نام گیرنده</label>
            <input type="text" name="ReceiverName" value="@Context.Request.Query["ReceiverName"]" />
        </div>


            <div class="filter-item">
                <label>شهر مبدا</label>
                <select id="originCity" name="OriginCityId" class="select2" style="width: 100%">
                    <option value="">همه</option>
                    @foreach (var c in ViewBag.Cities)
                    {
                        <option value="@c.Value" selected="@(Context.Request.Query["OriginCityId"] == c.Value ? "selected" : null)">
                            @c.Text
                        </option>
                    }
                </select>
            </div>

            <div class="filter-item">
                <label>شهر مقصد</label>
                <select id="destinationCity" name="DestinationCityId" class="select2" style="width: 100%">
                    <option value="">همه</option>
                    @foreach (var c in ViewBag.Cities)
                    {
                        <option value="@c.Value" selected="@(Context.Request.Query["DestinationCityId"] == c.Value ? "selected" : null)">
                            @c.Text
                        </option>
                    }
                </select>
            </div>
        <div class="filter-item">
            <label>از تاریخ</label>
            <input type="text" name="StrFromDate" value="@Context.Request.Query["StrFromDate"]" class="form-control flatpickr-input" placeholder="YYYY/MM/DD" id="flatpickr-date" />
        </div>
        <div class="filter-item">
            <label>تا تاریخ</label>
                <input type="text" name="StrToDate" value="@Context.Request.Query["StrToDate"]" class="form-control flatpickr-input" placeholder="YYYY/MM/DD" id="flatpickr-date" />
        </div>

          

        <div class="filter-buttons">
            <button type="submit" class="btn btn-primary">جستجو</button>
            <a asp-controller="Orders" asp-action="GetOrders" class="btn btn-secondary">حذف فیلتر</a>
        </div>

    </div>
</form>


    <table class="custom-table">
        <thead>
            <tr>
                
                <th>ردیف</th>
                <th>کد رهگیری</th>
                <th>تاریخ</th>
                <th>نام فرستنده</th>
                <th>موبایل فرستنده</th>
                <th>نام گیرنده</th>
                <th>موبایل گیرنده</th>
                <th>مبدأ</th>
                <th>مقصد</th>
                <th>نوع بسته</th>
                <th>وزن <span style="font-size: 0.7em;">(کیلوگرم)</span></th>
                <th>جزئیات</th>
            </tr>
        </thead>
        <tbody>
            @{
                int rowNumber = 1;
            }
            @foreach (var order in Model)
            {
                <tr>
                    <td class="row-number">@rowNumber</td>
                    <td>@order.TrackingCode</td>
                    <td>@order.CreatedAt.LatinToPersian()</td>
                    <td>@order.SenderName</td>
                    <td>@order.SenderMobile</td>
                    <td>@order.ReceiverName</td>
                    <td>@order.ReceiverMobile</td>
                    <td>@order.OriginCityName</td>
                    <td>@order.DestinationCityName</td>
                    <td>@order.PackageTypeName</td>
                    <td>@order.ActualWeight</td>
                    <td>
                        <a asp-action="GetOrderDetail"
                           asp-controller="orders"
                           asp-route-orderId="@order.OrderId"
                           class="btn btn-primary btn-sm">
                            مشاهده
                        </a>
                    </td>
                </tr>
                rowNumber++;
            }
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: "جستجو...",
            allowClear: true,
            width: 'resolve'
        });
    });
</script>
