@using keyhanPostWeb.Areas.CMS.Dtos
@using keyhanPostWeb.GeneralViewModels.Order
@model VmSiteContent

@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/orderstyles.css" />
@{
    int currentStep = Model.OrderCreate.Step;
}

<div class="container mx-auto max-w-5xl" style="margin: 100px 0;">


    <!-- =======================
    STEP 0 - MOBILE FORM
    =======================-->
    @if (currentStep == 0)
    {
        <form id="form-step-0"  asp-action="KpCreateOrderStep0" asp-controller="Orders" asp-area="" method="post">
            <section class="form-step @(currentStep == 0 ? "active" : "") card-shadow p-6 rounded-2xl bg-white" data-step="0">

                <h2 class="text-xl font-bold mb-4 text-center">شماره موبایل خود را وارد کنید</h2>

                <div class="mb-4">
                    <label asp-for="OrderCreate.Step0Vm.Mobile"></label>
                    <input asp-for="OrderCreate.Step0Vm.Mobile" class="form-control" />
                    <span asp-validation-for="OrderCreate.Step0Vm.Mobile" class="text-danger"></span>
                </div>

                <button type="button" class="btn btn-primary accAjaxSubmit">مرحله بعد</button>


            </section>
        </form>
    }
    <!-- =======================
    STEP 1 - PACKAGE TYPE
    =======================-->
    @if (currentStep == 1)
    {
        <!-- مرحله ۱: نوع بسته -->
        <form id="form-step-1" asp-action="KpCreateOrderStep1" asp-controller="Orders" asp-area="" method="post">
            <section class=" form-step @(currentStep == 1 ? "active" : "") card-shadow p-6 rounded-2xl bg-white" data-step="1">
            <h3 class="text-lg font-bold mb-4 text-gray-700 text-center">نوع بسته</h3>
                <input type="hidden" name="OrderCreate.Step1Vm.OrderId" value="@(ViewBag.orderId ?? 0)" />
                <div class="grid grid-cols-2 md:grid-cols-4 gap-5">

            
                <!-- کالای عادی -->
                <label class="package-type-card p-3 rounded-xl text-center border border-gray-200 cursor-pointer" data-value="1">
                        <input type="radio" asp-for="OrderCreate.Step1Vm.PackageTypeId" value="1" class="hidden" />
                    <div class="card-icon bg-blue-100 text-blue-600 w-12 h-12 mx-auto flex items-center justify-center rounded-full">
                        <i class="fas fa-box text-xl"></i>
                    </div>
                    <p class="mt-2 font-medium text-gray-700 text-sm">کالای عادی</p>
                </label>

                <!-- کالای الکترونیکی -->
                <label class="package-type-card p-3 rounded-xl text-center border border-gray-200 cursor-pointer" data-value="2">
                        <input type="radio" asp-for="OrderCreate.Step1Vm.PackageTypeId" value="2" class="hidden" />
                    <div class="card-icon bg-green-100 text-green-600 w-12 h-12 mx-auto flex items-center justify-center rounded-full">
                        <i class="fas fa-laptop text-xl"></i>
                    </div>
                    <p class="mt-2 font-medium text-gray-700 text-sm">کالای الکترونیکی</p>
                </label>

                <!-- اسناد -->
                <label class="package-type-card p-3 rounded-xl text-center border border-gray-200 cursor-pointer" data-value="3">
                        <input type="radio" asp-for="OrderCreate.Step1Vm.PackageTypeId" value="3" class="hidden" />
                    <div class="card-icon bg-purple-100 text-purple-600 w-12 h-12 mx-auto flex items-center justify-center rounded-full">
                        <i class="fas fa-envelope text-xl"></i>
                    </div>
                    <p class="mt-2 font-medium text-gray-700 text-sm">اسناد</p>
                </label>
                 <!-- کالای فاسدشدن -->
                    <label class="package-type-card p-3 rounded-xl text-center border border-gray-200 cursor-pointer" data-value="4">
                        <input type="radio" asp-for="OrderCreate.Step1Vm.PackageTypeId" value="4" class="hidden" />
                     <div class="card-icon bg-red-100 text-red-600 w-12 h-12 mx-auto flex items-center justify-center rounded-full">
                         <i class="fas fa-apple-alt text-xl"></i>
                     </div>
                     <p class="mt-2 font-medium text-gray-700 text-sm">کالای فاسدشدنی</p>
                 </label>
            </div>

                <button type="submit" class="btn btn-primary">ثبت و ادامه</button>
          </section>
       </form>
    }

    <!-- =======================
    STEP 2 - PACKAGE INFO
    =======================-->
    @if (currentStep == 2)
    {
        <form id="form-step-2" asp-action="KpCreateOrderStep2" method="post">
            <section class="form-step @(currentStep == 2 ? "active" : "") card-shadow p-6 rounded-2xl bg-white" data-step="2">

                <input type="hidden" name="OrderCreate.Step2Vm.OrderId" value="@(ViewBag.orderId ?? 0)" />

                <h2 class="text-xl font-bold mb-4 text-center">مرحله ۲: اطلاعات مرسوله</h2>

                <div style="display: flex; gap: 1rem; flex-wrap: wrap;">
                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step2Vm.OriginCityId" class="required"></label>
                        <select asp-for="OrderCreate.Step2Vm.OriginCityId"
                                asp-items="Model.OrderCreate.OriginCities"
                                class="form-control">
                            <option value="">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="OrderCreate.Step2Vm.OriginCityId" class="text-danger"></span>
                    </div>

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step2Vm.DestinationCityId" class="required"></label>
                        <select asp-for="OrderCreate.Step2Vm.DestinationCityId"
                                asp-items="Model.OrderCreate.Cities"
                                class="form-control">
                            <option value="">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="OrderCreate.Step2Vm.DestinationCityId" class="text-danger"></span>
                    </div>
                </div>

                <div class="mt-4" style="display: flex; gap: 1rem; flex-wrap: wrap; align-items: flex-end;">
                    <div style="flex: 1; min-width: 120px;">
                        <label asp-for="OrderCreate.Step2Vm.ActualWeight" class="required"></label>
                        <input asp-for="OrderCreate.Step2Vm.ActualWeight" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step2Vm.ActualWeight" class="text-danger"></span>
                    </div>

                    <div style="flex: 1; min-width: 120px;">
                        <label asp-for="OrderCreate.Step2Vm.Length"></label>
                        <input asp-for="OrderCreate.Step2Vm.Length" class="form-control" />
                    </div>

                    <div style="flex: 1; min-width: 120px;">
                        <label asp-for="OrderCreate.Step2Vm.Width"></label>
                        <input asp-for="OrderCreate.Step2Vm.Width" class="form-control" />
                    </div>

                    <div style="flex: 1; min-width: 120px;">
                        <label asp-for="OrderCreate.Step2Vm.Height"></label>
                        <input asp-for="OrderCreate.Step2Vm.Height" class="form-control" />
                    </div>
                    <div style="flex: 1; min-width: 120px;">
                        <label asp-for="OrderCreate.Step2Vm.DeliveryVehicleType"></label>

                        <label class="tick-option">
                            <input type="radio"
                                   asp-for="OrderCreate.Step2Vm.DeliveryVehicleType"
                                   value="1" />
                            <span>وانت</span>
                        </label>

                        <label class="tick-option">
                            <input type="radio"
                                   asp-for="OrderCreate.Step2Vm.DeliveryVehicleType"
                                   value="2" />
                            <span>موتور</span>
                        </label>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary ">ثبت و ادامه</button>

            </section>
        </form>
    }


    <!-- =======================
    STEP 3 - SENDER INFO
    =======================-->
    @if (currentStep == 3)
    {
        <form id="form-step-3" asp-action="KpCreateOrderStep3" method="post">
            <section class="form-step @(currentStep == 3 ? "active" : "") card-shadow p-6 rounded-2xl bg-white" data-step="3">

                <input type="hidden" name="OrderCreate.Step3Vm.OrderId" value="@(ViewBag.orderId ?? 0)" />

                <h2 class="text-xl font-bold mb-4 text-center">مرحله ۳: اطلاعات فرستنده</h2>

                <div style="display: flex; gap: 1rem; flex-wrap: wrap;">

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step3Vm.SenderEntityTypeId" class="mb-2">نوع شخصیت</label>
                        <select asp-for="OrderCreate.Step3Vm.SenderEntityTypeId" asp-items="ViewBag.EntityTypes"
                                class=" p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="">انتخاب کنید</option>
                            <span asp-validation-for="OrderCreate.Step3Vm.SenderEntityTypeId" class="text-danger"></span>
                        </select>
                    </div>

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step3Vm.SenderFirstName"></label>
                        <input asp-for="OrderCreate.Step3Vm.SenderFirstName" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step3Vm.SenderFirstName" class="text-danger"></span>
                    </div>

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step3Vm.SenderLastName"></label>
                        <input asp-for="OrderCreate.Step3Vm.SenderLastName" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step3Vm.SenderLastName" class="text-danger"></span>
                    </div>

                </div>

                <div style="display: flex; gap: 1rem; flex-wrap: wrap; margin-top: 1rem;">
                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step3Vm.SenderMobile" class="required"></label>
                        <input asp-for="OrderCreate.Step3Vm.SenderMobile" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step3Vm.SenderMobile" class="text-danger"></span>
                    </div>
                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step3Vm.SenderPhone"></label>
                        <input asp-for="OrderCreate.Step3Vm.SenderPhone" class="form-control" placeholder="مثال: 02112345678 (کد شهر + شماره)" />
                        <span asp-validation-for="OrderCreate.Step3Vm.SenderPhone" class="text-danger"></span>
                    </div>
                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step3Vm.SenderNationalId"></label>
                        <input asp-for="OrderCreate.Step3Vm.SenderNationalId" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step3Vm.SenderNationalId" class="text-danger"></span>
                    </div>
                </div>

                <div style="margin-top: 1rem;">
                    <label asp-for="OrderCreate.Step3Vm.SenderAddress"></label>
                    <textarea asp-for="OrderCreate.Step3Vm.SenderAddress" class="form-control" style="width: 100%; min-height: 100px;"></textarea>
                    <span asp-validation-for="OrderCreate.Step3Vm.SenderNationalId" class="text-danger"></span>
                </div>
                <div id="sender-legal-fields" class="hidden-field mt-3">

                    <div class="mt-3">
                        <label asp-for="OrderCreate.Step3Vm.SenderCompanyName"></label>
                        <input asp-for="OrderCreate.Step3Vm.SenderCompanyName" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step3Vm.SenderCompanyName" class="text-danger"></span>
                    </div>

                    <div class="mt-3">
                        <label asp-for="OrderCreate.Step3Vm.SenderCompanyNationalId"></label>
                        <input asp-for="OrderCreate.Step3Vm.SenderCompanyNationalId" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step3Vm.SenderCompanyNationalId" class="text-danger"></span>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary ">ثبت و ادامه</button>

            </section>
        </form>
    }

    <!-- =======================
    STEP 4 - RECEIVER INFO
    =======================-->
    @if (currentStep == 4)
    {
        <form id="form-step-4" asp-action="KpCreateOrderStep4" method="post">
            <section class="form-step @(currentStep == 4 ? "active" : "") card-shadow p-6 rounded-2xl bg-white" data-step="4">

                <input type="hidden" name="OrderCreate.Step4Vm.OrderId" value="@(ViewBag.orderId ?? 0)" />

                <h2 class="text-xl font-bold mb-4 text-center">مرحله ۴: اطلاعات گیرنده</h2>

                <div style="display: flex; gap: 1rem; flex-wrap: wrap;">

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverEntityTypeId" class="mb-2 ">نوع شخصیت</label>
                        <select asp-for="OrderCreate.Step4Vm.ReceiverEntityTypeId" asp-items="ViewBag.EntityTypes"
                                class=" p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <option value="">انتخاب کنید</option>
                        </select>
                        <span asp-validation-for="OrderCreate.Step4Vm.ReceiverEntityTypeId" class="text-danger"></span>
                    </div>

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverFirstName"></label>
                        <input asp-for="OrderCreate.Step4Vm.ReceiverFirstName" class="form-control" />
                       
                    </div>

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverLastName"></label>
                        <input asp-for="OrderCreate.Step4Vm.ReceiverLastName" class="form-control" />
                    </div>

                </div>

                <div style="display: flex; gap: 1rem; flex-wrap: wrap; margin-top: 1rem;">
                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverMobile " class="required"></label>
                        <input asp-for="OrderCreate.Step4Vm.ReceiverMobile" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step4Vm.ReceiverMobile" class="text-danger"></span>
                    </div>
                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverPhone"></label>
                        <input asp-for="OrderCreate.Step4Vm.ReceiverPhone" class="form-control" placeholder="مثال: 02112345678 (کد شهر + شماره)" />
                        <span asp-validation-for="OrderCreate.Step4Vm.ReceiverPhone" class="text-danger"></span>
                    </div>

                    <div style="flex: 1; min-width: 150px;">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverNationalId"></label>
                        <input asp-for="OrderCreate.Step4Vm.ReceiverNationalId" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step4Vm.ReceiverNationalId" class="text-danger"></span>
                    </div>
                </div>

                <div style="margin-top: 1rem;">
                    <label asp-for="OrderCreate.Step4Vm.ReceiverAddress"></label>
                    <textarea asp-for="OrderCreate.Step4Vm.ReceiverAddress" class="form-control" style="width: 100%; min-height: 100px;"></textarea>
                    <span asp-validation-for="OrderCreate.Step4Vm.ReceiverAddress" class="text-danger"></span>
                </div>
                <div id="receiver-legal-fields" class="hidden-field mt-3">

                    <div class="mt-3">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverCompanyName"></label>
                        <input asp-for="OrderCreate.Step4Vm.ReceiverCompanyName" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step4Vm.ReceiverCompanyName" class="text-danger"></span>
                    </div>

                    <div class="mt-3">
                        <label asp-for="OrderCreate.Step4Vm.ReceiverCompanyNationalId"></label>
                        <input asp-for="OrderCreate.Step4Vm.ReceiverCompanyNationalId" class="form-control" />
                        <span asp-validation-for="OrderCreate.Step4Vm.ReceiverCompanyNationalId" class="text-danger"></span>
                    </div>

                </div>

                <button type="submit" class="btn btn-success ">تکمیل سفارش</button>

            </section>
        </form>
    }
    @if (currentStep == 5)
    {
        <section class="card-shadow p-6 rounded-2xl bg-white text-center mt-10" data-step="99">

            <h2 class="text-2xl font-bold text-green-600 mb-4">سفارش شما با موفقیت ثبت شد</h2>

            <p class="text-lg mb-2">کد رهگیری:</p>
            <div class="text-3xl font-extrabold text-blue-600 mb-6">
                @ViewBag.TrackingCode
            </div>

            <a href="@Url.Action("KpCreateOrder", "Orders")"
               class="btn btn-primary ">
                ثبت سفارش جدید
            </a>
        </section>
    }


</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/sweetalert2/sweetalert2.js"></script>
<script src="~/js/quine.js"></script>
<script src="~/lib/select2/select2.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/lib/gymfit/js/popper.min.js"></script>
<script src="~/lib/gymfit/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
         

    document.addEventListener("DOMContentLoaded", function ()
    { //مرحله فعلی از سرور 
        let currentStep = @Model.OrderCreate.Step; 
        function showStep(step) 
        { document.querySelectorAll(".form-step").forEach(s => s.classList.remove("active"));
        document.querySelector(.form-step[data-step='${step}']).classList.add("active"); } 
        showStep(currentStep); // اگر OrderId موجود باشد، اجازه برگشت یا جلو رفتن نده
        let orderId = "@Model.OrderCreate.OrderId"; if (orderId && orderId !== "0") 
        { document.querySelectorAll(".next-step, .prev-step").forEach(btn => btn.style.display = "none"); } });
</script>



<script>
    document.addEventListener("DOMContentLoaded", function () {

        // مرحله فعلی از سرور
        let currentStep = @Model.OrderCreate.Step;

        function showStep(step) {
            document.querySelectorAll(".form-step").forEach(s => s.classList.remove("active"));
            document.querySelector(`.form-step[data-step='${step}']`).classList.add("active");
        }

        showStep(currentStep);

        // اگر OrderId موجود باشد، اجازه برگشت یا جلو رفتن نده
        let orderId = "@Model.OrderCreate.OrderId";

        if (orderId && orderId !== "0") {
            document.querySelectorAll(".next-step, .prev-step").forEach(btn => btn.style.display = "none");
        }

    });
 
    document.addEventListener("DOMContentLoaded", function() {
        const packageCards = document.querySelectorAll(".package-type-card");

        packageCards.forEach(card => {
            card.addEventListener("click", function() {
                // حذف کلاس selected از همه کارت‌ها
                packageCards.forEach(c => c.classList.remove("selected"));
                // اضافه کردن کلاس selected به کارت کلیک شده
                this.classList.add("selected");
                // انتخاب کردن رادیو مربوطه داخل کارت
                const radioInput = this.querySelector("input[type='radio']");
                if (radioInput) {
                    radioInput.checked = true;
                }
            });
        });

        // اگر رادیویی از قبل انتخاب شده بود، به کارت مربوطه کلاس selected بده
        const checkedInput = document.querySelector(".package-type-card input[type='radio']:checked");
        if (checkedInput) {
            checkedInput.closest(".package-type-card").classList.add("selected");
        }
    });

</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        function toggleLegalFields(selectElement, containerId) {
            const container = document.getElementById(containerId);

            if (!container) return;

            if (selectElement.value === "2") {  // فرض: 1 = حقیقی ، 2 = حقوقی
                container.classList.remove("hidden-field");
            } else {
                container.classList.add("hidden-field");
            }
        }

        // فرستنده
        const senderEntitySelect = document.querySelector("select[name='OrderCreate.Step3Vm.SenderEntityTypeId']");
        if (senderEntitySelect) {
            senderEntitySelect.addEventListener("change", function () {
                toggleLegalFields(this, "sender-legal-fields");
            });

            toggleLegalFields(senderEntitySelect, "sender-legal-fields");
        }

        // گیرنده
        const receiverEntitySelect = document.querySelector("select[name='OrderCreate.Step4Vm.ReceiverEntityTypeId']");
        if (receiverEntitySelect) {
            receiverEntitySelect.addEventListener("change", function () {
                toggleLegalFields(this, "receiver-legal-fields");
            });

            toggleLegalFields(receiverEntitySelect, "receiver-legal-fields");
        }

    });
</script>


@if (TempData["ValidationErrors"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let errors = "@Html.Raw(TempData["ValidationErrors"])";
            alert(errors.replace(/<br>/g, "\n"));
        });
         packageCards.forEach(card => {
            if (!card.querySelector("input")?.disabled) {
                card.addEventListener("click", () => {
                    packageCards.forEach(c => c.classList.remove("selected"));
                    card.classList.add("selected");
                    card.querySelector("input").checked = true;
                });
            }
        });
    </script>
} 
@* @if (TempData["SuccessMessage"] != null)
{
    <div style="padding:8px; font-size:0.9rem; color: #155724; background-color: #d4edda; border: 1px solid #c3e6cb; border-radius:4px; max-width:300px; margin-bottom:10px;">
        <strong>@TempData["SuccessMessage"]</strong><br />
        <small>کد رهگیری: @TempData["TrackingCode"]</small>
    </div>
}
 *@


